{% extends "layout.html" %}
{% block content %}
<h3>Create Your Account</h3>
<form method="POST">
  {{ form.hidden_tag() }}
  <p>{{ form.username.label }}<br>{{ form.username }}</p>
  <p>{{ form.email.label }}<br>{{ form.email }}</p>
  <p>{{ form.gender.label }}<br>{{ form.gender }}</p>
  <p>{{ form.dob.label }}<br>{{ form.dob }}</p>
  <p>{{ form.password.label }}<br>{{ form.password }}</p>
  <p>{{ form.confirm_password.label }}<br>{{ form.confirm_password }}</p>
  <p>{{ form.submit }}</p>
</form>
{% endblock %}
